body{
    background-size: cover;
    background-position: center;
}

.link {
    font-size: 20px;
    background: white;
    border-radius: 10px;
    width: 300px;
    margin-top: 15px;
}

a {
    font-size: 25px;
    font-family:'Courier New', Courier, monospace;
    background-color: aliceblue;
    padding: 20px;
    box-shadow: 5px 5px 5px darkslategrey;
}